body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    margin-right: 25px;
}

#chart1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#chart2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#chart3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
